@keyframes fadeIn{
	0%{
		display: block;
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}


.modal{
	background-color: red;
	max-width: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.modal.open{
	animation: fadeIn .5s;
	display: block;
}

.mySlider {
  overflow: hidden;
}

.images_container {
  width: 400%;
  /*margin-bottom: 5px;*/
}

.slide {
    /*width: 25%;*/
    height: 300px;
    float:left;
    background-size: cover;
    background-position: center;
}

.clear {
  clear: both;
}

.footer {
	width: 100%;
	/*height: 10%;*/
	background-color: grey;
	color: white;
}

.footer__borderline {
	border-bottom: 2px solid red;
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 1%;
	border-color: white;
}

.footer__disclaimer {
	display: inline-block;
  float: right;
}

.footer ul {
  float: left;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}
