
.btn {
  vertical-align: middle;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: #fefefe;
}

.banner__text-color {
  color: grey;
}

.banner__text{
	position: fixed;
	top: 60%;
	transform: translateY(-50%);
	width: 40%;
	text-align: left;
	color: white;
  z-index: 1;
}

.dropdown__btn{
  width: 150px;
  height: 40px;
  text-align: left;
  text-indent: 10px;
  box-shadow: -1px -1px 0px #2D3635;
}
.dropdown__btn .fa-angle-down{
  float: right;
  margin-right: 10px;
  font-size: 1rem;
}

button:focus {outline:0;}

.dropdown{
  position: relative;
  display: inline-block;
  padding: 5px;
}
.dropdown__content{
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: white;
  width :92.5%;
  overflow:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.open{
  display: block;
}

.dropdown__content .dropdown__item {
  color : black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;

}

.dropdown__content li{
  margin-left: 10px;
  list-style-type: none;

}
.dropdown__btn{
  color: white;
}
.dropdown__text{
  float: left;
  margin-right: 10px;
  font-size: 1rem;
  color: white;
}
.drowdown__name{
  margin-bottom: 5px;
  text-align: left;
  font-size: 20px;
}
.clear{
  clear: both;
}

.dropdown--selected{
  color:red;
}

.thumbnailcontainer{
  padding: 50px;
}
.thumbnail__content{
  text-align: left;
  color: black;
}

.thumbnail{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  min-width:100% !important;
}
.row__firstCol{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #F5F6F8;
}

.row__secondCol{
  padding-top: 50px;
  padding-bottom: 50px;

  padding-left: 200px;
  padding-right: 100px;
  text-align:center;
}

/* */
.row__secondCol .columns{
  padding: 10px;
}
.thumbnail__image{
  height: 200px;
  overflow:hidden ;
}
.thumbnail__content{
  padding-bottom: 15px;
}

.thumbnail__text{
  margin-left: 10px;
  font-weight: bold;
  color:black;
}
.thumbnail__tag{
  color: blue;
  margin-right: 20px;
  margin-left: 10px;
  float: left;
}

.thumbnail__comments{
  float: left;
}
.thumbnail__time{
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
.thmbnail__title{
  margin-top: 20px;
  margin-bottom:15px;
  font-size: 12px;
  color: gray;
}

.tags{
  margin : 0 auto;
  margin-top: 50px;
  height: 350px;
  width: 300px;
  background-color: white;
  padding-top:10px;
}

.tag__text{
  background-color: #F5F6F8;
  width: auto;
  margin:5px;
  margin-bottom: 10px;
  padding:0 10px;
  border-radius: 50px;
  font-size:15px;
  color: gray;
  float: left;
}
.tags__container{
  padding: 10px;
}
.tag__title{
  width: 50px;
  height: 35px;
  margin: 0 auto;
  color: #76C1D4;
  border-bottom: 2px solid #76C1D4;
}

.add-more{
  margin-top: 50px;
  width: 150px;
  height: 40px;
  text-align: center;
  box-shadow: 1px 1px 1px #4269D0;
  background-color:#007FFF;
  border-radius: 5px;
}



@keyframes fadeIn{
  0%{
    display: block;
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

html, h1, body, p, h2, h3, h5, h4, h6 {
  font-family: 'Lato', sans-serif !important;
}

.header {
  margin-right: 5%;
  margin-left: 5%;
}
.header__social-media-icons {


  float: left;
}



.header__social-media-icons i {
  margin: 5px;
  /*border-radius: 50%;*/


}



.header__search-icon {

  float: right;
  /*background-color: orange;*/
}

.header__nav-bar {

  text-align: center;

}

.header__nav-bar li{

  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  /*float: left;*/


}


.line {
  height: 1px;
  background-color: black;
  margin-top: 5px;
}

.comment__seperator {
  height: 1px;
  background-color: #BBBBBB;
  margin-top: 5px;
  margin-bottom: 10px;
}

.icons-container {
  /*height: 25px;*/
}

.comments-container {
  background-color: #EEEEEE;
  padding-top: 5px;
  padding-bottom: 5px;
  /*height: 100%;*/
}

.comments-container__comments, .comments-container__write-comment {
  margin: 0 25%;
}

.comments__title {
  font-size: 20px;
  color: #999999;

}

.comment {
  margin: 10px 0;
  /*height: 100%;*/
  /*background-color: green;*/
  /*background-color: orange;*/
}

.comment__profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  /*display: inline-block;*/
  float: left;
  /*background-color: orange;*/
}

.comment__content {
  /*display: inline-block;*/
  /*background-color: red;*/
  margin-left: 100px;
  /*float: left;*/
  /*display: inline-block;*/
  /*margin-left: 100px;*/
}

.comment__user-name {
  color: #555555;
  display: inline-block;
}

.comment__text {
  color: #AAAAAA;
  margin: 0;
}

.fa-calendar-o, .time-since-comment__text {
  display: inline-block;
  color: #AAAAAA;
}

.comment__time-since-comment {
  display: inline-block;
  margin-left: 20px;

}

.modal{
  background-color: red;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal.open{
  animation: fadeIn .5s;
  display: block;
}

.mySlider {
  overflow: hidden;
  /*width: 90%;*/
}

.images_container {
  width: 400%;
  /*margin-bottom: 5px;*/
}

.slide {
    /*width: 25%;*/
    height: 300px;
    float:left;
    background-size: cover;
    background-position: center;
}

.clear {
  clear: both;
}

.footer {
  width: 100%;
  /*height: 10%;*/
  background-color: #333333;
  color: white;
}

.footer__borderline {
  border-bottom: 2px solid red;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border-color: white;
}

.footer__disclaimer {
  display: inline-block;
  float: right;
  margin-right: 30%;
}

.footer ul {
  float: left;
  margin-left: 25%;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.banner{
  background-image: url(../img/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
/*
.banner__text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: black;
}*/

.trending {
  margin-top: 5%;
}
